
*{
    box-sizing: border-box;
}

/*centering the overall page contents*/
body{
    padding-left: 5%;
    padding-right: 5%;
}

/*navigation styling*/
nav{
    border-bottom:solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
}


