
/*something for the modal?*/
:root{
    --modal-duration: 1s;
    --modal-color: #428bca;
}

/*body of page*/
.column {
    float: right;
    padding: 5px;
    /*height: 300px; Should be removed. Only for demonstration */
}
  
.right {
    width: 60%;
    height: auto;
    padding-top: 20px;
}
  
.left {
    width: 40%;
    height: auto;
    padding-top: 20px;
}
  
/* Clear floats after the columns */
.rowb:after {
    content: "";
    display: table;
    clear: both;
}

/*left column formatting*/
.left ul{
    list-style-type: none;
    text-align: left;
    border-style:solid;
    border-width: 1px 1px 1px 1px;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
    box-shadow: 0 1px 2px #C3C3C3;
    background-color: #ffffff;
    font-family: inherit;
}
  
.left li{
    padding:0px 15px;
    position: inherit;
    background-color:inherit;
    font-family: inherit;
}

.rowla{
    padding: 10 0 15 0;
    /*border-style: dotted;*/
}

.rowlb{
    padding: 1 1 1 1;
}

/*make appt button styling*/
.button {
    background: #de2103; 
    /*background: #428bca;*/
    padding: 1em 3.5em;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background: #ff5757;
    color: #000000;
  }
  
  .modal{
    display: none; 
    position: absolute;
    z-index: 15;
    left:0;
    top:0;
    bottom: auto;
    overflow: auto;
    background-color: rgba(0,0,0,0.5)
  
  }
  
  .modal-content{
    background-color: #f4f4f4f4;
    top: 20%; left: 20%; right:20%; bottom:20%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 20px;
    height: auto;
    width: 60%;
    text-align: left;
    /*box-shadow: 5px 5px 5px 5px rgba(172, 13, 13, 0.2), 5px 5px 5px 5px rgba(20, 230, 16, 0.17);*/
    /*animation-name: openModal;*/
    /*animation-duration: var(--modal-duration);*/
  }
  
  /*.modal-body {
    padding: 5 5 5 5;
    background: #fff;
  }*/
  
  .closeBtn{
    color: #000000;
    padding: 1 1 1 1;
    width: 15px;
    align-content: right;
    float: right;
    cursor: pointer;
  }
  
  .closeBtn.hover, .closeBtn.focus{
    color: #ffffff;
    text-decoration:none;
    cursor: pointer;
  }


  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
