<html>
<head>
<title>User Dashboard</title>
</head>
<body>

<h1>My First Heading</h1>
<p>My first paragraph.</p>
{%if var%}
<p>example variable is: {{var}}</p>
{%else%}
<p>no variable</p>
{%endif%}
<iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FPort_of_Spain&amp;src=ZW4udHQjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%230B8043" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

</body>
</html>