 <!--  jQuery -->

 <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>



 <!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
 
 <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />
 
 
 
 <!-- Bootstrap Date-Picker Plugin -->
 
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
 
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/> 
 
     
 
     
 
 <div class="bootstrap-iso">
 
  <div class="container-fluid">
 
   <div class="row">
 
    <div class="col-md-6 col-sm-6 col-xs-12">
 
 
 
     <!-- Form code begins -->
 
     <form method="post">
 {{form.csrf_token}}
      <br>      
     Ministry {{form.ministry}}
     <br>
     Department{{form.department}}
     <br>
     Location{{form.location}}
     <br> 
     Date{{form.date}}
 
 
 
 <script>
 
     $(document).ready(function(){
 
       var date_input=$('input[name="date"]'); //our date input has the name "date"
 
       var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
 
       var options={
 
         format: 'dd/mm/yyyy',
 
         container: container,
 
         todayHighlight: true,
 
         autoclose: true,
 
       };
 
       date_input.datepicker(options);
 
     })
 
 </script>
 <script>
 
  let department_select = document.getElementById('department');
  let ministry_select = document.getElementById('ministry');


  ministry_select.onchange=function(){
    ministry= ministry_select.value;
     
    fetch ('/appointment/'+ ministry).then(function(response){

       response.json().then(function(data){
              
            let optionHTML='';



             for( let department of data.departments){
                 optionHTML += '<option value= " ' + department.id + '" >'+ department.name + '</option>';

             }

              department_select.innerHTML=optionHTML;
        });


    });






   }
   </script>

 <script>
      let department_select = document.getElementById('department');
  
  let location_select = document.getElementById('location');

   department_select.onchange=function(){
    department= department_select.value;
    
     
    fetch ('/appointment/1/'+ department).then(function(response){

       response.json().then(function(data){
              
            let optionHTML='';



             for( let location of data.location){
                 optionHTML += '<option value= " ' + location.id + '" >'+ location.name + '</option>';

             }

              location_select.innerHTML=optionHTML;
        });


    });






   }
</script> 
