<!doctype html>
<html lang="en">

  <head>
    <title>Welcome</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
    
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">

            <span class="navbar-text">T&T Ministry Appointment System</span>
            
            <ul class="navbar-nav navbar-right">
                <li class-"nav-item">
                    <a class="nav-link" href="/admin_login"> Administrator </a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="container">
        <hr>
        <h1 class="page-header text-center"> Welcome! </h1>
        <p class="lead text-center">
            This site allows you to make appointments for different T&T ministries.
        </p>
    </div>

    <div class="container text-center">
            <hr>
            <p class="lead">
                New user? 
            </p>
            <a href="/user_register"><button class="btn btn-primary"> Register </button></a>

            <p></p>
            
            <p class="lead">
                Have an account? 
            </p>
            <a href="/user_login"><button class="btn btn-primary"> Login </button></a>
        </div>

    
  </body>

</html>