<!doctype html>
<html lang="en">

 <head>

    <title>Dashboard</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
       
</head>



 <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #f8f2f2;">
            <!-- Navbar content -->
     
    
            <div class="container fluid">    
     <div>
                   
        <header role="banner">

                            <!-- end header -->
                
                            <!-- inserts the universal toolbar -->
        <div class="wpthemeBanner">
                                <!-- div class="wpthemeBannerInner" -->
          <div class="gorttThemeBannerInner">
                 <div class="gorttthemeInner">
                                        
                
                <div id="logo">
            <!--        <a href="/gortt/portal/ttconnect/GoRTTHome"> -->
                        <img src="static/Images/Banner_image.png" alt="eappoint Icon" width="73" height="54" style="border:0px">
                <!--</a>-->    
                </div>
                <ul class="appointthemeCommonActions wpthemeLeft">
                    
                    <li>
                            
                              <!--<a href="/gortt/portal/ttconnect/GoRTTHome">-->  
                                <a>
                                    <img src="static/Images/Profile_image.png" id="profie icon" alt="avatar" width="50" height="50" style="border:0px">
                                </a>
                            
                    </li>
                </ul>
        
             </div>

            </div>



        
             


     

        </nav>   

 </body>


    </html>