<!doctype html>
<html lang="en">

 <head>

    <title>Dashboard</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>


<body>
        <nav class="navbar navbar-inverse navbar-static-top" style="background-color: #ffffff;" >
               <div>
                    <img src="static/Images/header.png"  alt="eappoint Icon"  >
               </div>
           
                         
    
                     
                <div class="navbar-brand" href="#">
                  <img src="static/Images/Banner.png"  alt="eappoint Icon" style="max-width: 400px" >


                </div>

                <a> 
                    <img src="static/Images/Profile_image.png" alt="Avatar" width ="50" height= "50" >
                    <span class="navbar-text"> {{name}} </span>

                </a>
                
              





            
        

        

          </nav>

</body>

    </html>


   
